.wrapper {
  width: 1800px;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.introduction_module {
  display: flex;
  justify-content: space-between;
  width: 1175px;
  padding-top: 222px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 50;
}

.introduction_module_left {
  position: relative;
  z-index: 999;
}

.introduction_subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 2.304px;
  color: var(--dark-color);
  text-transform: uppercase;
  /* margin-top: 222px; */
  margin-bottom: 4px;
}
.introduction_title {
  font-family: "OpenSans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 2.688px;
  color: var(--grey-color);
  text-transform: uppercase;
  margin-bottom: 32px;
}

.introduction_module_left_text,
.introduction_module_right_text {
  position: relative;
  width: 281px;
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1.26px;
  color: var(--light-grey-color);
  margin-left: 51px;
}

.introduction_module_left_text::before,
.introduction_module_right_text::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 58px;
  left: -30px;
  width: 20px;
  height: 2px;
  background-color: #252525;
}

.introduction_module_right_text {
  padding-top: 331px;
  margin-bottom: 197px;
  z-index: 999;
}

.introduction_module_person_1 {
  position: absolute;
  background-color: #fff;
  left: 195px;
  top: 149px;
  z-index: 900;
  mix-blend-mode: normal;
}

.introduction_module_rectangle {
  content: "";
  position: absolute;
  top: 211px;
  left: 400px;
  width: 309px;
  height: 418px;
  background-color: #4caf50;
  opacity: 0.8;
  z-index: 800;
  mix-blend-mode: normal;
}

.introduction_module_person_2 {
  position: absolute;
  left: 605px;
  top: 317px;
  mix-blend-mode: normal;
  background-color: #fff;
}
