@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@300;400;500;700&display=swap");

:root {
  --dark-color: #333333;
  --grey-color: #504e4e;
  --light-grey-color: #5b5858;
  --light-color: #ffffff;
}

.subtitle {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 71px;
}
